:root{
    --primaryColor: gold;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:"Josefin Sans", sans-serif;
    color:var(--lightColor);
}

.home{
    height:100vh;
    background:var(--bgColor-1);
    display:flex;
    flex-direction:column;
}

span{
    color:var(--primaryColor);
}

nav{
    padding:2rem var(--padding);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

h2{
    font-size:2rem;
}

/* زرار المينيو */
.menu-toggle{
    display:none;
    font-size:2rem;
    cursor:pointer;
    z-index:1001;
}

nav ul{
    list-style:none;
}

nav ul li{
    display:inline-block;
    margin:0 1rem;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.btn{
    background:gold;
    padding:10px 20px;
    border-radius:30px;
    text-decoration:none;
    color:white;
}

/* Overlay */
#overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    opacity:0;
    visibility:hidden;
    transition:0.3s;
    z-index:999;
}

#overlay.show{
    opacity:1;
    visibility:visible;
}

/* content */
.content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:var(--padding);
    flex:1;
}

.container-texts{
    position:relative;
    bottom:50px;
}

h1{
    font-size:4rem;
}

h3{
    margin:20px 0;
}

.social img{
    width:30px;
    margin:10px;
}

/* images */
.container-images{
    width:45%;
    position:relative;
}

.container-images img{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    height:100%;
}

/* about */
.about{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:2rem var(--padding);
    background:var(--bgColor-2);
}

.about .container-images,
.about .container-texts{
    width:40%;
}

/* ================= MOBILE ================= */
@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    nav .btn{
        display:none;
    }

    nav ul{
        position:fixed;
        top:0;
        right:-100%;
        width:250px;
        height:100vh;
        background:var(--bgColor-2);
        flex-direction:column;
        display:flex;
        align-items:center;
        justify-content:center;
        transition:0.4s;
        z-index:1000;
    }

    nav ul.open{
        right:0;
    }

    nav ul li{
        margin:20px 0;
    }

    .content{
        flex-direction:column;
        text-align:center;
    }

    .container-images{
        width:100%;
        height:300px;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about .container-images,
    .about .container-texts{
        width:100%;
    }
}
